@use "../../mixin.scss" as mixin;

.authenticated__layout {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  @include mixin.tablet {
    width: calc(100vw - 125px);
    left: 125px;
  }
  @include mixin.large_laptop {
    width: calc(100vw - 283px);
    left: 283px;
  }
}

.main {
  background-color: #fbfbfb;
  height: 100%;
}
