* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Avenir";
  src: local(AvenirNextLTPro-Regular),
    url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(242, 240, 240);
}

::-webkit-scrollbar-thumb {
  background-color: #b8bbbe;
  border-radius: 3px;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
