@use "../../mixin.scss" as mixin;

.container {
  padding: 30px 30px 30px;
  @include mixin.tablet {
    padding: 60px 60px 30px;
  }
}

.h1 {
  font-weight: 500;
  font-size: 24px;
  color: mixin.$blue;
  margin-bottom: 40px;
}
